
<!-- Another template App -->
<div class="header navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><span class="header title">Exam For Today</span></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a [routerLink]="['/live']">Live</a></li>
          <li><a [routerLink]="['/warmup']">Warmup</a></li>
          <li><a [routerLink]="['/preparation']">Preparetion</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Analyze</a></li>
          <li><a href="#">Login</a></li>
          <li style="height:50px;width:100px;">
              <span class="p-10" style="color:black;border-radius:50px;background-color:aliceblue;">Signup</span>
            
          </li>
        </ul>
      </div>
    </nav>
</div>

<!-- Another template App -->
<div class="row">
  <div class="col s3 offset-s4">
    <div *ngFor="let exam of adminExamList" class="card">
      <div class="card-image waves-effect waves-block waves-light bb pb-20">
        <div class="eft-time">
          {{exam.startTime}} <span class="eft-time-left">pm</span>
        </div>
        <!-- <div class="eft-time-left">
            {{exam.left | async}}
        </div> -->
        
        <div class="eft-time-left">
          {{exam.left}}
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <span class="fw-300">{{exam.questions}}</span> <span class="fs-14">Questions</span>
          <i class="material-icons right">more_vert</i>
        </span>
        <div class="card-front-info pb-10">
            <div>Duration: {{exam.duration}} min</div>
            <div>Topics: All</div>
            <div>Host: EFT Team</div>
        </div>
        <p><a [routerLink]="['/live', 'date', exam.linkDate, 'time', exam.linkTime]">Visit Exam Hall</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

  </div>
</div>
<div class="row  pl-100 pr-100">
  <div *ngFor="let exam of usersExamList" class="col s3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light bb pb-20">
        <div class="eft-time">
          {{exam.startTime}} <span class="eft-time-left">pm</span>
        </div>
        <div class="eft-time-left">
          {{exam.left}}
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <span class="fw-300">{{exam.questions}}</span> <span class="fs-14">Questions</span>
          <i class="material-icons right">more_vert</i>
        </span>
        <div class="card-front-info">
            <div>Duration: {{exam.duration}} min</div>
            <div>Topics: All</div>
            <div>Host: EFT Team</div>
        </div>
        <p><a [routerLink]="['/live', 'date', exam.linkDate, 'time', exam.linkTime]">Visit Exam Hall</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

  </div>
</div>
