.eft-time{
    font-family: 'Lobster', cursive;
    font-size: 42px;
    text-align: center;
}
.eft-time-left{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
}
.card-front-info{
    font-size: 12px;
}