.nav-wrapper{
	background-color: #67a4b3 !important;
}
.title{
    font-family: 'Lobster', cursive;
    font-size: 42px;
    padding-left: 30px;
    z-index: 100;
    font-weight: lighter;
}
.sidenav-image{
    opacity: 0.3;
}
.content-nav{
    background: #d8e8ec;
}
.active-nav-link{
    background: #d8e8ec;
}
.material-icons, .icon-text {
    vertical-align: middle;
}